body{
padding: 20px;
background-image: url(/pngtree-all-girls-fashion-soft-gradient-color-blocks-poster-background-backgroundposterbackgroundteenage-girl-image_57373.jpg);
font-family: "Poppins";
}
#bodydangnhap{
    margin-top: 100px;
    margin:unset;
    width: 300px;
    height: 300px;
    border:1px solid #000;
    text-align: center;
    border-radius:10px;
    border-color: rgb(241, 89, 18);
    
}
h2{
    color: blue;

}
.use{
    width: 250px;
    height: auto;
    border: 1px solid #000;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(241, 89, 18);
    background-color: #fff;
   


}

.use img{
    float: left;
    margin-top: 15px;
 width: 20px;
 vertical-align: middle;
 margin-left: 10px;
}
.eye{

    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    max-width: 16px;
    padding: 5px;
    margin-right: 10px;
}
input{
    width: 200px;
    height: 30px;
    border:none;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: "Popins",sans-serif;
    margin-top: 10px;
    outline: none;
    padding-left: 10px;
}


.file{
    position: relative;
    width: 250px;
    height: auto;
    border: 1px solid #000;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(241, 89, 18);
    background-color: #fff;
}
.file img{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
 width: 20px;
 vertical-align: middle;
}

button{
   
    width: 255px;
    height: 50px;
    background-color: rgb(241, 89, 18);
    color: antiquewhite;
    border:none;
    border-radius: 10px;
}
button:hover{
    border: #000;
}
.hidden{
    display: none;
}